body {
	background: #222629;
	font-family: 'Comfortaa', cursive;
	color: #c5C6C7;
	margin-top: 10px;

}

#header{
	background-color: transparent;
	width: auto;
	height: auto;
}

#top1{
	float: left;
}

.page_title{
	font-size: 40px;
	width: auto;
	margin-left: 280px;
	border: 3px solid #66FCF1;
  	padding: 8px 16px;
	border-radius: 100px;
  	background: #66FCF1;
	font-weight: bolder;letter-spacing: 8px;
	color: black;


}

.button{
  font-size: 30px;
  border-radius: 40px;
  background:rgba(0,0,0,0);
  border: 3px solid #66FCF1;
  padding: 8px 16px;
  color: #000;
  margin-top:0px;
  background: #66FCF1;
  height: 44px;
}

.button:hover, .button:focus, .button:link{
	background: #45A29E;
	color: black
	text-decoration: none;
}

#index_content{
	margin-top: 10px;
	margin-left: 2px;
	margin-right: 2px;
}

.search_container{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	float: left;


}

#search_bar{
	width: 90%;
	height: 20px;
	padding 20px;
	font-size: 1rem;
	border: 1px solid #66FCF1;
	border-radius: 20px;
	background-color: #222629;
	color: white;
	outline: none;
}

#search_bar::placeholder{
	color: white;
}

#search_button{
	background-color: #66FCF1;
	outline: none;
	border-radius: 20px;
	width: 9%;
	padding-right: 5px;
	color: black;
	height: 25px;
	float: right;
}

#sorting_container{
	margin-top: 10px;
	margin-bottom: 10px;
}

.dropdown{
	background-color: #222629;
	border-radius: 20px;
	border: 1px solid #66FCF1;
	width: 200px;
	outline: none;
	height: 20px;
	color: white;
	font-size: 17px;
}

.sort_button{
	background-color: #66FCF1;
	outline: none;
	border-radius: 20px;
	width: 9%;
	padding-right: 5px;
	color: black;
	height: 20px;
	font-size: 17;

}


#question_table_container{
	margin-top: 10px;
	border: 2px solid #66FCF1;
	border-radius: 20px;
	width: 50%;
    height: auto;
	float: left;
	padding: 20px;
}

#question_table{
    table-layout: fixed;
    width: 100%;
    font-size: 20px;
}

#question_table, td, th{
	border-collapse: collapse;
	border-bottom: 1px solid grey;
	border-radius: 20px;
	padding-right: 5px;
	padding-left: 5px;
	height: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}



.vote_button{
	background-color: #222629;
	outline: none;
	border-radius: 20px;
	border: 0px solid #66FCF1;
	padding-right: 5px;
	height: 40px;
	font-size: 20px;
}

.question_link{
	color: black;
}


#record_container{
	width: 100%;
	height: 100px;
	margin-top: 45px;
	margin-bottom: 20px;
    border: 2px solid #66FCF1;
    border-radius: 20px;

}
#record_title{
    font-size: 20px;
	float: left;
}


#question_buttons{
	float: right;
	margin-top: 40px;
	margin-bottom: 50px;
	padding-right: 15px;
	width: 250px;

}

#edit_question_button{
    width: 156px;
    margin-bottom: 3px;
}

#delete_question_button{
}

#header_buttons{
    float: right;
    width: 25%;
	display: inline-block;
}

#message_container{
	margin-top: 100px;
    clear: both;
	width: 100%;
	letter-spacing: 2px;
}

#answer_container{
	float: left;
	width: 100%;
	height: auto;
	border: 1px solid #66FCF1;
	border-radius: 20px;
	padding: 10px;
	table-layout: fixed;
}

#answer_table{
	border-collapse: collapse;
	table-layout: fixed;
	width: 100%;
}

#answer_box_container{
	float: bottom;
	margin-bottom: 30px;
	margin-top: 30px;
	width: 300px;

}

#answer_box{
	clear: both;
	float: left;
	width: 100%;
	margin-top: 20px;
	border: 1px solid #66FCF1;
	border-radius: 20px;
	padding: 10px;
}

.answer_field{
	width: 75%;
	height: 50px;
	border-radius: 20px;
	outline: none;

}

.answer_button{
	float: right;
	background-color: #222629;
	outline: none;
	border-radius: 20px;
	border: 1px solid #66FCF1;
	padding-right: 5px;
	color: white;
	height: 40px;
	font-size: 20px;
	margin-top: 10px;
	margin-right: 5px;
}


#comment_container{
	float: right;
	width: 100%;
	height: auto;
	border: 1px solid #66FCF1;
	border-radius: 20px;
	padding: 10px;
	table-layout: fixed;
}

#comment_box{
	clear: both;
	float: right;
	width: 100%;
	margin-top: 20px;
	border: 1px solid #66FCF1;
	border-radius: 20px;
	padding: 10px;
}


#comment_table{
	border-collapse: collapse;
	table-layout: fixed;
	width: 100%;
}

.comment_field{
	width: 75%;
	height: 50px;
	border-radius: 20px;
	outline: none;
}

.comment_button{
	float: right;
	background-color: #222629;
	outline: none;
	border-radius: 20px;
	border: 1px solid #66FCF1;
	padding-right: 5px;
	color: white;
	height: 40px;
	font-size: 20px;
	margin-top: 10px;
	margin-right: 5px;
}

#answers{
	width: 45%;
	float: left;
	margin-left: 10px;
}

#comments{
	width: 45%;
	float: right;
	margin-right: 10px;
}


#answers_and_comments{
	width: 100%;
	height: auto;
}

#login_register_header{
	font-size: 40px;
	width: 98%;
	border: 3px solid #66FCF1;
  	padding: 8px 16px;
	border-radius: 100px;
  	background: #66FCF1;
	font-weight: bolder;
	letter-spacing: 8px;
	text-align: right;
	margin-right: 10px;
	color: black;
}

#login_card{
	width: 100%;
}

#login{
	border: 1px solid #66FCF1;
	width: 20%;
	margin-top: 250px;
	border-radius: 20px;
	padding: 20px;
	padding-bottom: 60px;
}

#login_button{
	float: right;
	width: 45%;
}

#reg_button{
	float: left;
	width: 45%;
}

#register_button{
	width: 45%;
	background-color: #222629;
	outline: none;
	border-radius: 20px;
	border: 1px solid #66FCF1;
	padding-right: 5px;
	color: white;
	height: 40px;
	font-size: 20px;
	margin-top: 10px;
	margin-right: 5px;
}

.credential_field{
	width: 90%;
	height: 30px;
	font-size: 20px;
	border-radius: 20px;
}

#footer_container{
    padding-top: 30px;
    clear: both;
    width: 100%;
}

#footer_elements{
    padding: 20px;
}

#footer_message{
	margin: 30px;
	letter-spacing: 3px;
	color: dimgrey;
	font: italic;
}

#logout_button{
 	width: 15%;
	background-color: #66FCF1;
	outline: none;
	border-radius: 20px;
	border: 1px solid #66FCF1;
	padding-right: 5px;
	color: black;
	height: 40px;
	font-size: 20px;
	margin-top: 10px;
	margin-right: 5px;
    float: right;
    padding-top: 10px;

}

#home_button{
    width: 15%;
	background-color: #66FCF1;
	outline: none;
	border-radius: 20px;
	border: 1px solid #66FCF1;
	padding-right: 5px;
	color: black;
	height: 40px;
	font-size: 20px;
	margin-top: 10px;
	margin-right: 5px;
    float: left;
    padding-top: 10px;
}

#list_users_button{
    width: 15%;
	background-color: #66FCF1;
	outline: none;
	border-radius: 20px;
	border: 1px solid #66FCF1;
	padding-right: 5px;
	color: black;
	height: 40px;
	font-size: 20px;
	margin-top: 10px;
	margin-right: 5px;
    float: left;
    padding-top: 10px;
}

.edit_button{
	background-color: #222629;
	outline: none;
	border-radius: 20px;
	border: 1px solid #66FCF1;
	padding-right: 5px;
	color: white;
	font-size: 20px;
}


.header_buttons{
    background-color: #66FCF1;
	outline: none;
	border-radius: 20px;
	border: 1px solid #66FCF1;
	padding-right: 5px;
	color: black;
	font-size: 20px;
}

#ask_card{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #66FCF1;
    margin-top: 100px;
    padding-bottom: 20px;
    border-radius: 30px;
}

.question_detail{
    width: 50%;
    outline: none;
    border-radius: 20px;
}

.question_textarea{
    width: 80%;
    outline: none;
    border-radius: 20px;
}

#edit_answer_card{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #66FCF1;
    margin-top: 100px;
    padding-bottom: 20px;
    border-radius: 30px;
}

.textbox_content{
	font-size: 20px;
	height: 70px;
	width: 80%;
    outline: none;
    border-radius: 20px;
}

.question_link{
	color: white;
}