{% extends "layout.html" %}
{% include 'header.html' %}

{% block body_content %}

    <p>All existing tags:</p>
    <ul>
        {% for element in tags %}
            {% for key in element %}
            <li>{{ element[key] }}</li>
            {% endfor %}
        {% endfor %}
    </ul>

    <p>
        <form action="/question/{{ question_id }}/add_tag" method="post">
            <input type="text" name="new_tag_name" placeholder="Enter new tag name here">
            <input type="submit" value="ADD TAG">
        </form>
    </p>

{% endblock body_content%}