{% extends "layout.html" %}



    <title>Answer</title>


        {% block body_content %}

            <div id="edit_answer_card" align="center">

                <h1> Edit Answer </h1>


            <form method="post" action="/answer/{{ answer_detail["id"] }}/edit">
                <textarea name="edit_answer_text" class="textbox_content">{{ answer_detail['message'] }}</textarea>
                <p><input type="submit" value="Edit answer" class="edit_button"></p>
            </form>
            </div>


        {% endblock body_content%}

