{% extends "layout.html" %}

<html>

    <head>

        {% block title_content %}
            <title>Answer</title>
        {% endblock %}

    </head>

{% block body_content %}
    <body>

        {% block h1_content %}
            <h1> ASK MATE </h1>
        {% endblock h1_content %}

        {% block h2_content %}
            <h2> {{ answer_detail['message'] }} </h2>
        {% endblock h2_content %}

        <form method="post" action="/answer/{{ answer_detail["id"] }}/edit">

            <textarea name="edit_answer_text" rows="5" cols="40"></textarea>
            <input type="submit" value="Edit answer">

        </form>

    </body>
{% endblock body_content%}

</html>
