{% extends "layout.html" %}
{% include 'header.html' %}

<html>
    <head>
        <title>Ask Question</title>
    </head>
    {% block body_content %}
    <body>
        {% block title_content %}
        <title>Ask mate - List</title>
        {% endblock title_content %}

        {% if question_details %}
        <h1>Edit question</h1>
        {% else %}
        <h1>Ask a question</h1>
        {% endif %}

        <form method="post"
              {% if question_details %}
              action="/edit_question/{{ question_details["id"] }}"
              {% endif %}
              {% if question_details == None %}
              action="/ask-question">
              {% endif %}
            <p>
                <br>Question subject:
                <br><input name="title" value="{{ question_details["title"] }}">
            </p>
            <p>
                <br>Describe your question:
                <br><textarea name="message" rows="5" cols="40">{{ question_details["message"] }}</textarea>
            </p>
            <p>
                <br>URL of your image:
                <br><input type="text" name="image" value="{{ question_details["image"] }}">
            </p>
                <br><input type="submit" value="Submit">
        </form>
    </body>
    {% endblock body_content%}
</html>