<!DOCTYPE html>
<html>


    <head>

        <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">


    </head>
    <body>

        <div id="header">
            <div id="top1" class="button" ><a id="ask_question" href="/ask-question" >Ask a question</a></div>
            <a href="{{ url_for("list_users") }}">Users</a>
            <div id=top2" class="page_title" align="right">ASK . MATE</div>

        </div>

        <form action="/search_question" method="post" class="search_container">
        <input type="text" id="search_bar" name="search_parameter" placeholder="  What would you like to know?">
        <input type="submit" value="GO!" id="search_button">
        </form>

        {% block body_content %}
        {% endblock body_content%}

</body>
</html>