{% extends "layout.html" %}

{% block body_content %}

    <div id="index_content">


    <div id="sorting_container" align="center">
    <form action="/" method="post">
        <select name="order_type" class="dropdown">
            <option value="" disabled selected hidden>Select ordering </option>
            <option value="time">Submission Time</option>
            <option value="vote_numbers">Vote Numbers</option>
        </select>

        <select name="direction" class="dropdown">
            <option value="" disabled selected hidden>Select direction </option>
            <option value="asc">Ascending</option>
            <option value="desc">Descending</option>
        </select>

        <input type="submit" value="Submit" class="sort_button">
    </form>
    </div>


    {% if action == None %}


    <div id="question_table_container" align="center">
    <table id="question_table">
        <tr>
            <th></th>
            <th></th>
            <th>Id</th>
            <th>Votes</th>
            <th>Title</th>
            <th>Submission Time</th>
        </tr>
        {% for item in questions %}
            <tr>
            <form action="/question/vote_up/{{ item['id'] }}" method="post">
            <td>
                <input type="image" src="/static/like.png" alt="Submit" name="vote" value="Vote up" class="vote_button" height="30">
            </td>
            </form>
            <form action="/question/vote_down/{{ item['id'] }}" method="post">
            <td>
                <input type="image" src="/static/dislike.png" alt="Submit" name="vote" value="Vote down" class="vote_button" height="30">
            </td>
            </form>
                {% for key in item %}
                    {% if key == 'title' %}
                        <td> <a href="/question/{{ item['id'] }}" class="question_link"> {{ item[key] }} </a></td>
                    {% else %}
                        <td>  {{ item[key] }}  </td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    </div>

    {% endif %}
    {% if action == "search" %}

        <div id="question_table_container">
            <table id="question_table">
                <th>Id</th>
                <th>Votes</th>
                <th>Title</th>
                <th>Submission Time</th>
                {% for item in results %}
                    <tr>
                        {% for key in item %}
                            {% if key == 'title' %}
                                <td> <a href="/question/{{ item['id'] }}" class="question_link"> {{ item[key] }} </a></td>
                            {% else %}
                                <td>  {{ item[key] }}  </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>

    {% endif %}

    </div>
{% endblock body_content %}