{% extends "layout.html" %}

{% block body_content %}

    <div id="index_content">
    {% if action == None %}


    <div id="question_table_container" align="center">
    <table id="question_table">
        <tr>
            <th></th>
            <th></th>
            <th>Id</th>
            <th>Votes</th>
            <th>Title</th>
            <th>Submission Time</th>
        </tr>
        {% for item in questions %}
            <tr>
            <form action="/question/vote_up/{{ item['id'] }}" method="post">
            <td>
                <input type="image" src="/static/like.png" alt="Submit" name="vote" value="Vote up" class="vote_button" height="30">
            </td>
            </form>
            <form action="/question/vote_down/{{ item['id'] }}" method="post">
            <td>
                <input type="image" src="/static/dislike.png" alt="Submit" name="vote" value="Vote down" class="vote_button" height="30">
            </td>
            </form>
                {% for key in item %}
                    {% if key == 'title' %}
                        <td> <a href="/question/{{ item['id'] }}" class="question_link" class="listed_link"> {{ item[key] }} </a></td>
                    {% else %}
                        <td>  {{ item[key] }}  </td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    </div>

    {% endif %}
    {% if action == "search" %}

        <div id="question_table_container">
            <table id="question_table">
                <th>Id</th>
                <th>Votes</th>
                <th>Title</th>
                <th>Submission Time</th>
                {% for item in results %}
                    <tr>
                        {% for key in item %}
                            {% if key == 'title' %}
                                <td> <a href="/question/{{ item['id'] }}" class="question_link" class="listed_link"> {{ item[key] }} </a></td>
                            {% else %}
                                <td>  {{ item[key] }}  </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>

    {% endif %}

    </div>
{% endblock body_content %}