<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register new user</title>
</head>
<body>
    <form method="post" action="/registration">
        <br><input type="text" name="first_name" placeholder="First Name">
        <br><input type="text" name="last_name" placeholder="Last Name">
        <br><input type="text" name="email" placeholder="E-mail Address">
        <br><input type="text" name="password" placeholder="Password">
        <br><input type="submit" value="Register User">
    </form>
</body>
</html>