{% extends "layout.html" %}
{% include 'header.html' %}

<html>
    <head>
        {% block title_content %}
        <title>Question</title>
        {% endblock title_content %}
    </head>

{% block body_content %}
    <body>
    <table align="center">
        <tr>
            <td>
            </td>
            <td>
                <h1>{{ question["vote_number"] }}</h1>
            </td>
            <td>
                <h1>{{ question["title"] }}</h1>
            </td>
            <td>
            </td>
        </tr>
    </table>
    <h3>{{ question["message"] }}</h3>

{#    <p>TAGS</p>#}
{#    <table align="center">#}
{#        <tr>#}
{#            {% for element in tags %}#}
{#                {% for key in element %}#}
{#                    <td>{{ element[key] }}</td>#}
{#                {% endfor %}#}
{#            {% endfor %}#}
{#        </tr>#}
{#    </table>#}

{#    <p>#}
{#        <table align="center">#}
{#            <tr>#}
{#                <form action="/question/add_new_tag_to_question/{{ question["id"] }}" method="post">#}
{#                <td>#}
{#                    <select name="available_tags">#}
{#                        <option value="" disabled selected hidden>Select new tag to add</option>#}
{#                        {% for element in all_tags  %}#}
{#                            {% for key in element %}#}
{#                            <option value="{{ element[key] }}">{{ element[key] }}</option>#}
{#                            {% endfor %}#}
{#                        {% endfor %}#}
{#                    </select>#}
{#                </td>#}
{#                <td>#}
{#                    <input type="submit" value="Update question tags">#}
{#                </td>#}
{#                </form>#}
{#            </tr>#}
{#        </table>#}
{#    </p>#}


{#    <p>#}
{#        <form action="/question/{{ question["id"] }}/add_tag" method="get">#}
{#            <input type="submit" name="go_to_add_tag_page" value="Need a new tag? Add it!">#}
{#        </form>#}
{#    </p>#}

    <br>
    <br>

    <table align="center">
        {% for item in answers %}
        <tr>
            {% for key in item %}
                <td>{{ item[key] }}</td>
            {% endfor %}
            <td>
                <form action="/answer/{{ item["id"] }}/edit" method="get">
                <input type="submit" name="edit_answer" value="Edit answer" >
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

    <form method="post" action="/add_answer/{{ question["id"] }}">
        <textarea name="message" rows="5" cols="40"></textarea>
        <input type="submit" value="Post Answer">
    </form>

    <p>Comments:</p>

    <table align="center">
        {% for item in comments %}
            <tr>
                {% for key in item %}
                    <td>{{ item[key] }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

    <form method="post" action="/add_comment/{{ question["id"] }}">
        <textarea name="comment_text" rows="5" cols="40"></textarea>
        <input type="submit" value="Add Comment">
    </form>
    </body>
{% endblock body_content%}
</html>