{% extends "layout.html" %}


{% block body_content %}

    <div id="record_container">

            <div id="record_title">
            <h1 class="record_title">{{ question["title"] }}</h1>
            </div>

            <div id="question_buttons">
                <div id="edit_question_button">
                <form method="get" action="/edit_question/{{ question["id"] }}" >
                <input type="submit" value="Edit Question">
                </form>
                </div
            </div>

                <div id="delete_question_button">
                <form method="post" action="/delete/{{ question["id"] }}">
                <input type="submit" value="Delete Question">
                </form>
                </div>

    </div>

    <div id="message_container">
    <h3>{{ question["message"] }}</h3>
        <p> Votes: {{ question["vote_number"] }}</p>
    </div>

    <div id="answer_container">
    <p align="center" >Answers:</palign>
    <table id="answer_table">
        {% for item in answers %}
        <tr>
            {% for key in item %}
                <td>{{ item[key] }}</td>
            {% endfor %}
            <td>
                <form action="/answer/{{ item["id"] }}/edit" method="get">
                <input type="submit" name="edit_answer" value="Edit answer" >
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

    <form method="post" action="/add_answer/{{ question["id"] }}">
        <textarea name="message" rows="5" cols="40"></textarea>
        <input type="submit" value="Post Answer">
    </form>
    </div>
    <p>Comments:</p>

    <table align="center">
        {% for item in comments %}
            <tr>
                {% for key in item %}
                    <td>{{ item[key] }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

    <form method="post" action="/add_comment/{{ question["id"] }}">
        <textarea name="message" rows="5" cols="40"></textarea>
        <input type="submit" value="Add Comment">
    </form>


{% endblock body_content%}
