{% extends "layout.html" %}

{% block body_content %}

 <div id="question_table_container" align="center">
    <table id="question_table">
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>e mail</th>

        </tr>
        {% for user in users %}
            <tr>

                <td>{{ user["first_name"] }}</td>
                <td>{{ user["last_name"] }}</td>
                <td>{{ user["email"] }}</td>

            </tr>
        {% endfor %}
    </table>
    </div>

{% endblock body_content %}